<html>
    <head>
        <title>Mind best tricks blog</title>
    </head>
    <body>
        <div>
            <h2><a href="https://www.youtube.com/watch?v=GlVVrDPxmew&list=PLkEoh_XbgdQZW-KQsGubg31Zu6fegVkYu">Все лекции Черниговской, которые нашла, про интересные особенности работы мозга))</a></h2>
        </div>

        <div>
            <p>published: 01.10.2019, 10:50</p>
            <h2><a href="https://www.youtube.com/watch?v=dnngs9vMaJ4">Черниговская - лекция 1</a></h2>
            <p>Читаю руководство по Джанго и слушаю лекцию - Мозг Вам не помойка ! Фильтруйте информацию. 
    </p>
    <p>Вот очень интересно послушать умного человека.</p>
        </div>

        <div>
            <p>published: 01.10.2019, 10:53</p>
            <h2><a href="https://www.youtube.com/watch?v=rrz8TDTQ5og">Черниговская - лекция 2</a></h2>
            <p>И следующую потом слушать буду - «Язык, мозг и гены» - ее лекции лучше любого сериала!!</p>
        </div>
    </body>
</html>